@import './../../../styles/_variables.scss';

.TimelineCell {
    position: relative;
    max-width: 100%;
    padding: $timeline-cell-padding-mobile;
    box-sizing: border-box;
    
    &__container {
        transition: 0.2s all ease-in-out;
        position: relative;
        &__title {
            font-size: $regular-plus-font;
            font-weight: $bold-weight;
            margin: 0 0 0.5em;
        }
        span, p {
            font-weight: $normal-weight;
            font-size: $small-plus-font;
        }
    }
    &:hover {
        .TimelineCell__container {
            transform: scale(1.05);
        }
    }
    &__dot {
        content:'';
        width: $timeline-dot-size;
        height: $timeline-dot-size;
        background-color: $timeline-dot-background;
        position: absolute;
        border-radius: 50%;
        border: 6px solid;
        box-sizing: border-box;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        &:after {
			width: 0;
			height: 0;
			content:'';
            z-index: 3;
            left: 50%;
            top: calc(100% - 3px);
            transform: translate(-50%, 0);
            position: absolute;
			display: inline-block;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-top: 6px solid $timeline-dot-background;
		}
    }

    @media screen and (min-width: 992px) {
        max-width: $timeline-cell-width;
        .TimelineCell__dot {
            top: 50%;
            left: auto;
            &:after {
                border-top: 6px solid transparent;
                left: unset;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &--left {
            padding: $timeline-cell-padding-right;
            .TimelineCell__dot {
                left: 0;
                transform: translate(-50%, -50%);
                &:after {
                    right: -16px;
                    border-left: 6px solid $timeline-dot-background;
                    
                }
            }
        }
        &--right {
            padding: $timeline-cell-padding-left;
            .TimelineCell__dot {
                right: 0;
                transform: translate(50%, -50%);
                &:after {
                    left: -4px;
                    border-right: 6px solid $timeline-dot-background;
                }
            }
        }
    }
}