@keyframes btnIn {
    0% { background-color:rgba(65, 74, 80, 0); }
    50% { background-color:rgba(65, 74, 80, 0.5); }
    100% { background-color:rgba(65, 74, 80, 1); }
  }
  @keyframes btnOut {
    0% { background-color:rgba(65, 74, 80, 1); }
    50% { background-color:rgba(65, 74, 80, 0.5); }
    100% { background-color:rgba(65, 74, 80, 0); }
  }
  
  @keyframes leftBallOut {
    0%   { top:calc(50% - 75px); left:calc(50% - 75px); width:150px; height:150px; }
    50%  { top:calc(30% - 25px); left:calc(30% - 25px); width:50px; height:50px; }
    100% { top:calc(120% - 10px); left:calc(0% - 150px); width:0px; height:0px; }
  }
  @keyframes leftBallIn {
    0% { top:calc(120% - 5px); left:calc(0% - 150px); width:0px; height:0px; }
    50%  { top:calc(30% - 25px); left:calc(30% - 25px); width:50px; height:50px; }
    100%   { top:calc(50% - 75px); left:calc(50% - 75px); width:150px; height:150px; }
  }
  @keyframes rightBallOut {
    0%   { top:calc(50% - 75px); right:calc(50% - 75px); width:150px; height:150px; }
    50%  { top:calc(30% - 25px); right:calc(30% - 25px); width:50px; height:50px; }
    100% { top:calc(120% - 10px); right:calc(0% - 150px); width:0px; height:0px; }
  }
  @keyframes rightBallIn {
    0% { top:calc(120% - 5px); right:calc(0% - 150px); width:0px; height:0px; }
    50%  { top:calc(30% - 25px); right:calc(30% - 25px); width:50px; height:50px; }
    100%   { top:calc(50% - 75px); right:calc(50% - 75px); width:150px; height:150px; }
  }