/* TYPOGRAPHY */
$small-font: 12px;
$small-plus-font: 14px;
$regular-font: 18px;
$regular-plus-font: 21px;

$regular-font: 400;
$bold-font: 700;

/* BUTTONS */
$btn-type-main: #fcdf10;
$btn-type-main-hover: #414a50;

$btn-type-secondary: #414A51;
$btn-type-secondary-color: #fff;

/* THUMBNAILS */
$thumbnail-text-colour: #525D63;
$thumbnail-link-colour: #231f20;

/* TIMELINE */
$timeline-dot-size: 30px;
$timeline-cell-width: 50%;
$timeline-cell-padding-mobile: 30px 25px 15px 25px; 
$timeline-cell-padding-right: 10px 25px 10px 50px; 
$timeline-cell-padding-left: 10px 50px 10px 25px; 
$timeline-dot-background: #fdde00;


/* FOOTER */
$footer-main-background: #414a50;