@import './../../../styles/_variables.scss';

.MenuIcon {
    display: inline-block; 
    transition: all ease-in-out $elements-speed-normal;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: transparent;
    cursor:pointer;
    z-index: 3;
    &__container {
        width: 36px;
		height: 36px;
        position: relative;
        margin: auto;
        @media screen and (min-width: $breakpoint-sm) {
            width: 50px;
            height: 50px;
        }
        .mline {
            height: 2px;
            background:$menu-icon-background;
            width: 100%;
            max-width: 50px;
            display: block;
            position: absolute;
            border-radius: 2px;
            transition: all ease-in-out $elements-speed-normal;
            &--dark {
                background: $menu-icon-background-dark;
            }
        }
        .mline-1 {
            top: 20%;
            
        }
        .mline-2 {
            bottom: 50%;
            opacity: 1;
            width: 70%;
        }
        .mline-3 {
            bottom: 20%;
        }
        &:hover {
            .mline-2 {
                width: 100%;
            }
        }
        &--open {
            .mline-1 {
                transform: translateY(9px) rotate(-45deg);
                top: 32%;
            }
            .mline-2 {
                opacity: 0;
                @media screen and (min-width: $breakpoint-sm) {
                    bottom: calc(50% + -1px);
                }
            }
            .mline-3 {
                bottom: 30%;
                transform: translateY(-3px) translateY(50%) rotate(45deg);
                @media screen and (min-width: $breakpoint-sm) {
                    transform: translateY(-8px) rotate(45deg);
                }
            }
        }
    }
}