@import '../../../styles/_variables.scss';

.HomepageHero {
    &__container {
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;
        &__title {
            font-size: $x-large-font;
            font-weight: $normal-weight;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1em;
            margin-bottom: 0.5em;
            color: $homehero-text-colour;
            @media screen and (min-width: $breakpoint-md) {
                font-size: $xx-large-font;
            }
        }
        .self-typing {
            text-transform: uppercase;
            color: $homehero-text-colour;
            font-size: $medium-font;
            font-weight: $normal-weight;
        }
    }
}