@import '../../../styles/_variables.scss';

.PostBlock {
    border-bottom: 1px dotted #e8e8e8;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
    padding: 0 15px 20px;
    a {
        text-decoration: none;
    }
    &__title {
        font-size: 20px;
        color: $post-block-text-color;
        margin-bottom: .6em;
        display: inline-block;
    }
    &__meta {
        display: flex;
        color: $post-block-text-color;
        font-size: 100;
        &__date {
            width: 50%;
        }
        &__tags {
            text-align: right;
            width: 50%;
            font-size: 13px;
            span {
                margin-left: 8px;
            }
        }
    }
    &__excerpt {
        font-weight: 100;
        color: $post-block-text-color;
        .more {
            color: $post-block-read-more-colour;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                opacity: 0;
                transition: $elements-speed-normal all ease-in-out;
                border: 5px solid transparent;
                transform: translate(100%, -50%);
                border-left-color: $post-block-text-color;
            }
        }
    }
    &:hover {
        .PostBlock__excerpt {
            .more {
                &:after {
                    right: -10px;
                    opacity: 1;
                }
            }
        }
    }
}