@import '../../../styles/_variables.scss';

.SlidingImageSidebar {
    position: relative;
    transition: $elements-speed-normal all ease-in-out;
    display: inline-block;
    vertical-align: top;
}
