@import './../../../styles/_variables.scss';

.Navigation {
    position: relative;
    transition: all ease-in-out $elements-speed-normal;
    left: 0;
    .MenuIcon {
        position: absolute;
        right: 90px;
        top: 70px;
    }
    &--open {
        left: -$navigation-offset;
    }
}